@charset "UTF-8";

:root {
    --cor001: #010221;
    --cor002: #0A7373;
    --cor003: #B7BF99;
    --cor004: #EDAA25;
    --cor005: #C43302;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor004), var(--cor005));
        background-size: cover;
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: url(../imagens/bg.png);
    }

    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }
}