@charset "UTF-8";

:root {
    --cor001: #010221;
    --cor002: #0A7373;
    --cor003: #B7BF99;
    --cor004: #EDAA25;
    --cor005: #C43302;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor003);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: url(../imagens/luffy.png) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: var(--cor003);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    display: block;
}

form label {
    display: none;
}

form > input[type=submit] {
    background-color: var(--cor002);
    color: white;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #095757;
}

form > a.botao {
    background-color: white;
    color: #095757;
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 7px;
    border: 1px solid var(--cor002);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #12afaf;
}

form > a.botao > i {
    font-size: 0.8em;
}